* {
	font-family: 'Lucida Grande', sans-serif;
	color: #FFFFFF;
	background: #000000;
}

header {
	background-color: #000000;
	align-items: center;
}

h2 {
	font-size: 64px;
	text-align: center;
	background-color: #000000;
}
		
